.profile-settings-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-settings-settings {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(230, 226, 185, 1);
}
.profile-settings-text {
  top: 176px;
  left: 420px;
  color: rgba(0, 0, 0, 1);
  width: 505px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-group17svg {
  top: 31px;
  left: 0px;
  width: 69px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-settings-nav-bar-tab {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(60, 130, 121, 1);
}
.profile-settings-group1 {
  top: 17.5355224609375px;
  left: 37.5355224609375px;
  width: 14.142135620117188px;
  height: 28.606597900390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-settings-line5 {
  top: 14.142135620117188px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-settings-line6 {
  top: 14.464462280273438px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-settings-group2 {
  top: 18px;
  left: 20px;
  width: 14.142135620117188px;
  height: 28.606597900390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-settings-line51 {
  top: 14.142135620117188px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-settings-line61 {
  top: 14.464462280273438px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.profile-settings-rectangle73 {
  top: 324px;
  left: 1415px;
  width: 203px;
  height: 11px;
  position: absolute;
}
.profile-settings-group17svg1 {
  top: 38px;
  left: 93px;
  width: 174px;
  height: 51px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-settings-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 42px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-rectangle91input {
  top: 537px;
  left: 420px;
  width: 402px;
  height: 58px;
  position: absolute;
  border-color: rgba(73, 40, 11, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.profile-settings-text04 {
  top: 487px;
  left: 426px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-rectangle93input {
  top: 673px;
  left: 420px;
  width: 402px;
  height: 58px;
  position: absolute;
  border-color: rgba(73, 40, 11, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.profile-settings-text06 {
  top: 623px;
  left: 426px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-rectangle92input {
  top: 537px;
  left: 843px;
  width: 402px;
  height: 58px;
  position: absolute;
  border-color: rgba(73, 40, 11, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.profile-settings-text08 {
  top: 487px;
  left: 849px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-ellipse6inputsvg {
  top: 258px;
  left: 428px;
  width: 201px;
  height: 201px;
  position: absolute;
}
.profile-settings-group34button {
  top: 324px;
  left: 673px;
  width: 149px;
  height: 70.28302001953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(231, 108, 0, 1);
}
.profile-settings-text10 {
  top: 21.298133850097656px;
  left: 31.30499839782715px;
  color: rgba(255, 244, 215, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-group35button {
  top: 759px;
  left: 420px;
  width: 284px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(231, 108, 0, 1);
}
.profile-settings-text12 {
  top: 21px;
  left: 31px;
  color: rgba(255, 244, 215, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-text14 {
  top: 235px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-settings-text16 {
  top: 182px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
