.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in-sign-in1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(230, 226, 185, 1);
}
.sign-in-text {
  top: 223px;
  left: 598px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-rectangle94-button {
  top: 538px;
  left: 431px;
  width: 579px;
  height: 90px;
  position: absolute;
  border-color: rgba(73, 40, 11, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.sign-in-text02 {
  top: 498px;
  left: 580px;
  color: rgba(0, 0, 0, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-line3 {
  top: 511px;
  left: 755px;
  width: 142px;
  height: 1px;
  position: absolute;
}
.sign-in-line4 {
  top: 511px;
  left: 545px;
  width: 142px;
  height: 1px;
  position: absolute;
}
.sign-in-arrow1 {
  top: 1024px;
  left: 720px;
  width: 185px;
  height: 1px;
  position: absolute;
}
.sign-in-rectangle93 {
  top: 390px;
  left: 431px;
  width: 579px;
  height: 90px;
  position: absolute;
  border-color: rgba(73, 40, 11, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
}
.sign-in-text04 {
  top: 423px;
  left: 675px;
  color: rgba(255, 244, 215, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-text06 {
  top: 566px;
  left: 598px;
  color: rgba(255, 244, 215, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-in-nav-bar-tab {
  top: 31px;
  left: 0px;
  width: 69px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(60, 130, 121, 1);
}
.sign-in-group1 {
  top: 17.5355224609375px;
  left: 37.5355224609375px;
  width: 14.142135620117188px;
  height: 28.606597900390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-in-line5 {
  top: 14.142135620117188px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.sign-in-line6 {
  top: 14.464462280273438px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.sign-in-group2 {
  top: 18px;
  left: 20px;
  width: 14.142135620117188px;
  height: 28.606597900390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-in-line51 {
  top: 14.142135620117188px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.sign-in-line61 {
  top: 14.464462280273438px;
  left: 14.142135620117188px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.sign-in-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.sign-in-image {
  height: 2rem;
}
.sign-in-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.sign-in-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-in-text09 {
  margin-left: var(--dl-space-space-twounits);
}
.sign-in-text10 {
  margin-left: var(--dl-space-space-twounits);
}
.sign-in-text11 {
  margin-left: var(--dl-space-space-twounits);
}
.sign-in-text12 {
  margin-left: var(--dl-space-space-twounits);
}
.sign-in-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.sign-in-burger-menu {
  display: none;
}
.sign-in-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-in-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.sign-in-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.sign-in-logo {
  height: 2rem;
}
.sign-in-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.sign-in-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.sign-in-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.sign-in-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-in-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-in-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .sign-in-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-in-desktop-menu {
    display: none;
  }
  .sign-in-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign-in-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-in-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-in-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-in-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .sign-in-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .sign-in-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .sign-in-mobile-menu {
    padding: 16px;
  }
}
